<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <link rel="stylesheet" href="./resources/prism/prism.css" type="text/css">
    <link rel="stylesheet" href="./resources/layout.css" type="text/css">
    <script src="js/GeoJson2Shp.js"></script>
    <script src="js/extend/jquery.js"></script>
    <script src="js/extend/jszip/jszip.js"></script>
    <script src="js/extend/FileSaver.js"></script>
    {{{ extraHead.local }}}
    {{{ css.tag }}}


    <title>{{ title }}</title>
</head>
<body style="height:100%;overflow:hidden;background-color:#fff;">

    <h4 id="title">{{ title }}</h4>
    <div id="docs">{{ md docs }}</div>

    {{{ contents }}}
    <script>
        {{{ js.source }}}</script>
</body>
</html>
